
.searchBlock {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.searchContainer {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.searchStatus {
    margin-right: 20px;
}

.priceRangeBlock {
    position: relative;
    display: flex;
    justify-content: center;
}

.priceContainer {
    display: flex;
    justify-content: space-between;
}

.priceInput {
    width: 100px;
    border: 1px solid blue;
    border-radius: 2px;
        margin-right: 10px;
        cursor: pointer;
        color: #585151;
}

.searchSelect {
    padding: 2px;
    border: 1px solid blue;
    border-radius: 2px;
    color: #585151;
    
}

.searchBtn {
    margin-left: 10px;
    width: 70px;
    border: 1px solid blue;
    background-color: #fff;
    border-radius: 4px;
    color:#585151;
    font-weight: 700;
}

.searchBtn:hover {
    background-color: rgb(7, 171, 225);
}

.priceOptions {
position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    width: 100px;
    max-height: 200px;
    /* Limit height for scrolling */
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.priceOptions div {
    padding: 5px 10px;
    cursor: pointer;
}

.priceOptions div:hover {
    background-color: #f0f0f0;
}


@media (max-width: 768px) {

.searchContainer {
        
        margin-right: 10px;
       
    }
    .searchBtn {
        margin-top: 20px;
        width: 100px;
        height: 25px;
    }
}
.searchWrapper {
    display: flex;
    margin-left: 10px;
}

.searchFilter {
    display: block;
}

@media (max-width: 768px) {
    .searchFilter {
        display: none;
    }
}